# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDEs
*.swp
*.swo
*~
.idea/
.vscode/

# Generated
*.ipa
*.dSYM.zip
*.dSYM

# Misc
*.log
*.orig
